<div class="row">
  <div class="col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">留言通知中心</div>
      <div class="panel-body">
        <%= "邊緣人，目前沒人給你留言。" if @notifications.empty? %>
        <% @notifications.each do |notification| %>
        <%= render_user_profile_link(notification.actor) %>
        在
        <%= link_to truncate(notification.notifiable.orid.objective, length: 20 ), orid_path(notification.notifiable.orid) %>
        底下留了言
        「<%= notification.notifiable.message %>」
        <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
