# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0dfa515cb68af2a6e19bfced89276be464c534f5f0c42dbb1aeaae84935ed363b67282aa4d9f52a909f6471025139dca399a0a2b5b75284cdba83baa1cc063d6

test:
  secret_key_base: 79afca173cea10edf283b07c36436c7318f224fc3a6539e925715d02b76c944bb24cd6ca196177b1fe88e48a1f1fa7ec1ab732de062204babed44f0719860034

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
