<h2> ORID列表 </h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>orid_id</th>
      <th>Name</th>
      <th>Email</th>
      <th>建立日期</th>
    </tr>
  </thead>
  <tbody>
    <% @orids.each do |orid| %>
      <tr>
        <td>
          <%= link_to orid.id, orid_path(orid) %>
        </td>
        <td>
          <%= orid.user.name %>
        </td>
        <td>
          <%= orid.user.email %>
        </td>
        <td>
          <%= orid.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
